@model List<StackOverflowClone.ViewModels.QuestionViewModel>
@{
    ViewBag.Title = "Questions";
}

<div class="row" style="padding:2%">
    <div class="table">
        <table class="table">
            @foreach (var item in Model)
            {
                Html.RenderPartial("Question", item);
            }



        </table>
        @if (Session["CurrentUserName"] != null)
        {
            <a href="/questions/create" class="btn btn-primary">Add Question</a>
        }
    </div>
</div>

<script>
    $("a[href='/questions']").attr("id", "active");
</script>